{% extends "forum/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href={% static "forum/css/index.css" %}>

{% endblock css %}
{% block title %}Home{% endblock title %}



{% block categories %}
<h5 style="color: #acacac; font-family: Verdana, Geneva, Tahoma, sans-serif ;">By Categories</h5>
<ul class="list-group" style="width:60%;">
{% for category in categories %}
    <li class="list-group-item list-group-item-action cat">
    <a href={% url "forum:category" id=category.id %}>{{ category.name }}</a>
    <ul class="list-group list-group-flush sub-cat">
    {% for subcat in category.subcategory.all %}
            <li class="list-group-item list-group-item-action list-group-item-light" style="display:none;"> <a href={% url "forum:subcategory" id=subcat.id %}>{{ subcat.name }}</a></li>
    {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% endblock categories %}



{% block content %}
{% bootstrap_messages %}
<div class="search-box">
          
    <input type="Button" name="ask" value="What do you want to ask?" class="btn btn-outline-primary main-btn"> 

</div>
<br>
<br>

<h6 >What's Trending <i class="fas fa-fire" style="color: #e25822;"></i></h6>
{% for post in posts %}
<div class="question-container" style="">
    <p style="color: #303030; margin-bottom: 0px;" ><i class="fas fa-user-circle" style="margin: 5px; font-size: large;"></i>{{ post.posted_by }}</p>
    <h5 style="color: blue; padding-left: 3px;"><a href={% url "forum:post_detail" slug=post.slug %}>{{ post.title }}</a></h5>
    <p style="color: #acacac; padding-left: 3px;">
        {{ post.answerCount }} 
        {% if post.answerCount > 1 %}  answers
        {% else %}  answer
        {% endif %}
    </p>
  </div>
  {% endfor %}
{% endblock content%}


{% block scripts %}
  <script>
      var cats = document.querySelectorAll('.cat')
        for(var i=0;i<cats.length;i++){
            cats[i].addEventListener('mouseover',function(){
                var subcats = this.querySelectorAll('.sub-cat li')
                for(var j=0;j<subcats.length;j++){
                    subcats[j].style.display = 'block'
                }
            })
        }
        for(var i=0;i<cats.length;i++){
            cats[i].addEventListener('mouseout',function(){
                var subcats = this.querySelectorAll('.sub-cat li')
                for(var j=0;j<subcats.length;j++){
                    subcats[j].style.display = 'none'
                }
            })
        }
    
     
  </script>
{% endblock %}