body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    height: 100vh;
    overflow: hidden;
    
}
.center{
    position: absolute;
    top: 50% ;
    left: 50% ; 
    transform: translate(-50% , -50%);
    width: 400px;
    height: 450px;
    background: linear-gradient(120deg,#ff9962,#ff5e62); 
    border-radius: 15px;  
    box-shadow: 5px 5px 8px -4px #888888;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;

}
.center form{
    padding: 0 40px;
    border-radius: border-box;
}
form .txt_field{
    position:relative;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
    color: white;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.txt_field label{
    position: absolute;
    top: 45% ;
    left: 33px;
    color: #fafafa;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition-duration: 0.4s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;

}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #493737;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;

}
input[type="submit"]{
    width: 35%;
    height: 30px;
    border: 2px solid;
    background: #3535351a;
    border-radius: 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition-duration: 0.4s;
}
input[type="submit"]:hover{
    border-color: #eeeeee;
    background: #353535ce;
    transition: .1s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}
.signup_link a{
    color: #f5f5f5;
    text-decoration: underline;
}
.signup_link a:hover{
    text-decoration: underline;
    color: #3717ee
}


