



body{

    background-color: #f5f5f5 !important;

}




a {
    text-decoration: none;
}


li i{
    margin:auto;
}




input.main-btn{

    width: 90%;

    height: 50px;

    padding-left: 10px;

    font-family: sans-serif;

    font-size: large;

    font-weight: 500;


    border-radius: 15px;

}

h6{

    color: #acacac;

    font-family: sans-serif;

}




.main-content{
    flex-basis: 65%;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;

}
.question-container{
    background-color:#FDFEFF;
    margin-top: auto;
    width: 100%;
    height: 100%;
    
    margin-bottom: 5px;
    color:#303030;
}

.question-container, ul{
    list-style: none;
    padding-left: 0;
}
.question-container ul li{
    display:flex
}

.btn-answer{
   
    background-color: red;

    color: white;

    border-radius: 15px;

    font-weight: 500;

    padding-top: 3px;
    border-style: none;
    padding-bottom:3px;
    padding-left:12px;
    padding-right: 12px;
    margin-right: 15px;
    margin-left: 250px;
    transition: 0.5s;
}
.btn-answer:hover{
    background-color: #f3595c;
    color: white;
    border-radius:4px;
}

.question-container-answer{
    background-image:linear-gradient(120deg,#ff9966,#ff5e62);  
    width: 90%;
    height: auto;
    color : white;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-top: 10px;
    box-shadow: 5px 5px 8px -4px #888888;
    border-radius: 10px 10px 10px 0px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
}

.question-container-answer:hover{
    transform: scale(1.05);
    background-image:linear-gradient(120deg,#fc874d,#ff3d41);  
    border-radius: 20px 20px 20px 0px;
}
.right-sidebar-base{
    
    background-color:#FDFEFF;
    
    
    
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    z-index:12;
    position: absolute;right: 2%;margin-left: auto;
    top:15%;
    


}
.recommendation-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color:#519ef7;
    width:fit-content;
    font-weight: bold;
   }

   .left-sidebar{
       display:none;
   }

   .main-content{
      
   }

   .full-screen{
    position: absolute;
    top:0;
      left:0;
      right:0;
      bottom:0;
      background-color: #00000098;
      z-index: 22;
      
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
}

.flex-container-center
{
    display:none;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.Cancel
{
    position: absolute;
    right:0;
    top:0;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 40px;
    transition: 00.4s ease-in-out;

}
.Cancel:hover
{
    border-radius: 5px;
    transform: scale(1.1);
}

.answer-form
{
    background-color:rgba(255, 255, 255);
    width: 60%;
    height:25%;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 8px -4px #888888;
    
}
.answer-form-grp
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center !important;
}

.ans-submit
{
    margin-top: 15px;
    background-image:linear-gradient(120deg,#fc874d,#ff3d41) ;
    border:none;
    border-radius :5px;
    transition: 0.2s ease-in;
    }

.ans-submit:hover
{
    border-radius: 10px;
    transform: scale(1.1);
    background-image:linear-gradient(120deg,#fc935f,#fc6164) ;
}
.form-control-submit
{
    margin-top: 50px;
}